name: GitHub Actions Demo
on:
  push:
    branches: [ develop ]
jobs:
  init:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-varsion: [ 18.x ]
    steps:
      - uses: actions/checkout@v3
      - name: Staring Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: install modules
        working-directory: ./client
        run : npm install
      - name: build project
        working-directory: ./client
        run : npm run build
      - name: eslint test
        working-directory: ./client
        run : npm run lint:fix 
      - name: component test
        working-directory: ./client
        run: npm run test